.picturebox {
    margin: 11% auto;
    
    width: 50%;
    height: 50%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    overflow: hidden;
}

.front2 .picturebox {
    margin: 7% auto;
    width: 40%;
    height: 40%;
}

.picturebox img {
    width: 200px;
    height: 100%;
    transform: translateX(-44px);
}