.picturebox {
    margin: 11% auto;
    
    width: 50%;
    height: 50%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    
}

.front2 .picturebox {
    margin: 5% 30% 5% 30%;
    width: 40%;
    height: 40%;
    display: inline-block;
}

.picturebox img {
    width: 200px;
    height: 100%;
    
    margin-top: 0;
    position: absolute;
    left: -50%;
}
/*transform: translateX(-44px);*/