.picturebox {
    margin: 11% auto;
    
    width: 42%;
    height: 50%;
    border: 1px solid black;

    display: flex;
    align-items: center;
    overflow: hidden;
}

.picturebox img {
    width: 200px;
    height: 100%;
    transform: translateX(-44px);
}