.tf {
border: 1px black solid;
margin: 4px .7em;   
display: flex;
align-items: center;
background-color: #f4f4f4;
font-size: 0.8em;
font-family: Arial, Helvetica, sans-serif;
height: 1.6em;
padding: 0 1em;
display: inline-block;
width: 65%;
border-radius: 10px;
}

/*.front2.large .tf {
    line-height: 1.8em;
}*/

.back2 .tf {
    margin-top: 0;
    line-height: 1.6em;
}

.large {
    height: 3.2em;
    vertical-align: bottom;
}

.data {
    font-size: 0.7em;
    display: inline-block;
    width: 12%;
}

.back2 .data{
    display: block;
    width: 60%;
    height: 19px;
    text-align: left;
    padding-left: 3em;
    margin-top: 10px;
    margin-bottom: 2px;
}

.front2 .data {
    height: 2.7em;
    vertical-align: center;
}


.nickname {
    height: 2.4em;
    line-height: 2.4em;
    font-size: 2.4em;
    font-weight: bold;
}