.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

textarea {
  width: 80%;
  height: 200px;
  margin-left: 10%;
  display: block;
}

button {
  margin-top: 40px;
  width: 200px;
  height: 40px;
}