.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

textarea {
  width: 80%;
  height: 200px;
  margin-left: 10%;
  margin-top: 40px;
  display: block;
}

button {
  margin-top: 40px;
  width: 200px;
  height: 40px;
}

header {
  background-color: darkolivegreen;
  padding: 1.5em;
  border-radius: 10em;
  margin: .5em 4em;
}

input {
  width: 300px;
  margin-bottom: 10px;
}

.princChoose {
  width: 100%;

}