* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari: Print background-image */
}

.card {
    display: flex;
    flex-direction: column;
    text-align: bottom;
    justify-content: bottom;

    width: 30%;
    height: 30%;
    display: inline-block;
    border: 2px solid black;
    position: relative;
}

.signature {
    margin-left: 15%;
    margin-right: 15%;

    border-top: 1px solid black;
    font-size: 0.58em;
    margin-bottom: 0;
}

.back .signature {
    position: relative;
    float: top;
    bottom: -27.4em;  
}

.back2 .signature {
    margin-top: 20%;
    font-size: 0.68em;
}

.job {
    font-size: 0.6em;
    float: top;
}

.back .job {
    position: relative;
    bottom: -26.5em;  
}

.expires {
    font-size: 0.7em;
    position: relative;
    bottom: -24em;
    font-weight: bold;   
}

.back {
    background-image: url("../img/back3.PNG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.front {
    background-image: url("../img/front.PNG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.back2 img {   
    position: absolute;
    width: 95%;
    bottom: 4px;
    left: 2.5%;
}

.front2 img {
    width: 90%;
    margin-top: 10px;
}

.front2 p {
    font-size: 0.8em;
    margin-bottom: 0;
}