* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari: Print background-image */
}

.card {
    display: flex;
    flex-direction: column;
    text-align: bottom;
    justify-content: bottom;

    width: 30%;
    height: 30%;
    display: inline-block;
    border: 2px solid black;
}

.signature {
    margin-left: 15%;
    margin-right: 15%;

    border-top: 1px solid black;
    font-size: 0.58em;
    float: top;
    margin-bottom: 0;

    position: relative;
    bottom: -26em;  
}

.job {
    font-size: 0.6em;
    float: top;

    position: relative;
    bottom: -25.2em;  
}

.expires {
    font-size: 0.7em;
    position: relative;
    bottom: -22em;
    font-weight: bold;   
}

.back {
    background-image: url("../img/back3.PNG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.front {
    background-image: url("../img/front.PNG");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}