table, th, td {
    border: 1px solid black;
    text-align: center;

}

table {
    border-collapse: collapse;
    width: 88%;
    margin: auto;
}

th {
    background-color: #eaeaeaea;
}

table td:nth-child(1) {
    width: 5%;
}

table td:nth-child(2) {
    width: 51%;
    text-align: left;
    padding-left: 0.7em;
}

table td:nth-child(3) {
    width: 17%;
}

table td:nth-child(4) {
    width: 27%;
}

.tablePage {
    position: relative;
}

.bottomImgTable {
    position: absolute;
    bottom: 2em;
    width: 70%;
    left: 15%;
}